<?xml version="1.0"?>
<!-- /**
 * Marketplace
 *
 * @category  Mpx
 * @package   Mpx_Sales
 * @author    Mpx
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Block\Order\Info" type="Mpx\Sales\Block\Order\Info" />
    <preference for="Magento\Sales\Block\Order\Totals" type="Mpx\Sales\Block\Order\Totals" />
    <type name="Magento\Sales\Block\Order\Totals">
      <plugin name="change_position_tax_total_customer" type="Mpx\Sales\Plugin\Order\BeforeTotals" sortOrder="1" disabled="false" />
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="mpx_sales_order_grid_data_source" xsi:type="string">Mpx\Sales\Model\ResourceModel\Order\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Sales\Controller\Adminhtml\Order\View" type="Mpx\Sales\Controller\Adminhtml\Order\View" />
    <type name="Magento\Sales\Block\Adminhtml\Order\View">
        <plugin name="remove_button" type="Mpx\Sales\Plugin\Order\AfterView" sortOrder="1"/>
    </type>
</config>
