<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Model\Address\Validator\General">
        <plugin name="custom_validate_customer_address" type="Mpx\Customer\Plugin\Model\Address\Validator\General" sortOrder="1" disabled="false"/>
    </type>
    <preference for="Magento\Customer\Model\EmailNotification" type="Mpx\Customer\Model\EmailNotification" />
    <type name="Magento\Customer\Controller\Account\CreatePost">
        <plugin name="custom_register_account_post_code" type="Mpx\Customer\Plugin\Account\BeforeCreatePost" sortOrder="1"/>
    </type>
    <type name="Magento\Customer\Controller\Address\FormPost">
        <plugin name="custom_edit_account_post_code" type="Mpx\Customer\Plugin\Address\BeforeSaveFormPost" sortOrder="1"/>
    </type>
    <type name="Magento\Customer\Controller\Adminhtml\Address\Save">
        <plugin name="custom_edit_account_post_code_admin" type="Mpx\Customer\Plugin\Adminhtml\Address\BeforeSave" sortOrder="1"/>
    </type>

    <type name="Magento\Paypal\Block\Adminhtml\Customer\Edit\Tab\Agreement">
        <plugin name="hidden_customer_menu_billing_agreements" type="Mpx\Customer\Plugin\Customer\Agreement\AfterCanShowTab" sortOrder="1"/>
    </type>
    <type name="Magento\Review\Block\Adminhtml\ReviewTab">
        <plugin name="hidden_customer_menu_product_reviews" type="Mpx\Customer\Plugin\Customer\ReviewTab\AfterCanShowTab" sortOrder="1"/>
    </type>
    <type name="XShoppingSt\Marketplace\Block\Adminhtml\FlagsTab">
        <plugin name="hidden_customer_menu_flags" type="Mpx\Customer\Plugin\Customer\FlagsTab\AfterCanShowTab" sortOrder="1"/>
    </type>
    <type name="XShoppingSt\Marketplace\Block\Adminhtml\Customer\Edit\PaymentInfoTab">
        <plugin name="hidden_customer_menu_payment_information" type="Mpx\Customer\Plugin\Customer\PaymentInfoTab\AfterCanShowTab" sortOrder="1"/>
    </type>
    <type name="XShoppingSt\Marketplace\Block\Adminhtml\Customer\Edit\CommissionTab">
        <plugin name="hidden_customer_menu_commission" type="Mpx\Customer\Plugin\Customer\CommissionTab\AfterCanShowTab" sortOrder="1"/>
    </type>
    <type name="XShoppingSt\Marketplace\Block\Adminhtml\Customer\Edit\AssignCategoryTab">
        <plugin name="hidden_customer_menu_assign_category" type="Mpx\Customer\Plugin\Customer\AssignCategoryTab\AfterCanShowTab" sortOrder="1"/>
    </type>
    <preference for="Magento\Customer\Block\Adminhtml\Edit\Tab\Orders" type="Mpx\Customer\Block\Adminhtml\Edit\Tab\Orders" />
    <type name="Magento\Customer\Block\Adminhtml\Edit\InvalidateTokenButton">
        <plugin name="hidden_customer_button_invalidate_token" type="Mpx\Customer\Plugin\Customer\InvalidateTokenButton\AfterGetButtonData" sortOrder="1"/>
    </type>
    <type name="Magento\Customer\Block\Adminhtml\Edit\OrderButton">
        <plugin name="hidden_customer_button_order" type="Mpx\Customer\Plugin\Customer\OrderButton\AfterGetButtonData" sortOrder="1"/>
    </type>
    <type name="Magento\Customer\Block\Adminhtml\Edit\ResetPasswordButton">
        <plugin name="hidden_customer_button_reset_password" type="Mpx\Customer\Plugin\Customer\ResetPasswordButton\AfterGetButtonData" sortOrder="1"/>
    </type>
    <type name="Magento\Customer\Controller\Account\LoginPost">
        <plugin name="set_path_after_login" type="Mpx\Customer\Controller\Account\LoginPost" sortOrder="1"/>
    </type>
    <preference for="Magento\Customer\Model\Plugin\CustomerAuthorization" type="Mpx\Customer\Model\Plugin\CustomerAuthorization" />
</config>
