<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_delete_commit_after">
        <observer name="XShoppingSt_mpmassupload_customer_delete_commit_after_observer" instance="XShoppingSt\MpMassUpload\Observer\CustomerDeleteCommitAfterObserver" />
    </event>
</config>
