<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Mageplaza\Smtp\Helper\Data">
        <plugin name="ignore_decrypt_password" type="Mpx\Smtp\Plugin\Helper\IgnoreDecryptPassword"/>
    </type>
</config>
