<!--@subject {{trans "Your %store_name login password has been changed" store_name=$store.frontend_name}} @-->
<!--@vars {
"var customer.name":"Customer Name",
"var store.frontend_name":"Store Name",
"var store_email":"Store Email",
"var store_phone":"Store Phone"
} @-->
{{template config_path="design/email/header_template"}}

<p>{{trans "The login password for your account has been changed."}}</p>
<p>{{trans 'If you do not recognize this email, please contact us at <a href="mailto:%xsAdminEmail">%xsAdminEmail</a>' xsAdminEmail=$xsAdminEmail |raw}}</p>

{{template config_path="design/email/footer_template"}}
