<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Block\Adminhtml\Category\Tree" type="Mpx\Catalog\Block\Adminhtml\Category\Tree" />
    <preference for="Magento\Catalog\Controller\Adminhtml\Category\Save" type="Mpx\Catalog\Controller\Adminhtml\Category\Save" />
    <type name="Magento\Catalog\Model\Category\DataProvider">
        <plugin name="plugin_disable_default_category" type="Mpx\Catalog\Plugin\Catalog\DisableDefaultCategory" sortOrder="1" disabled="false"/>
    </type>
    <type name="Magento\Catalog\Block\Adminhtml\Category\Edit\SaveButton">
        <plugin name="plugin_disable_save_edit_category" type="Mpx\Catalog\Plugin\Catalog\EditSaveButton" sortOrder="1" disabled="false"/>
    </type>
    <preference for="Magento\Catalog\Model\Product\Attribute\Backend\Sku" type="Mpx\Catalog\Model\Product\Attribute\Backend\Sku" />
</config>
