<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="XShoppingSt\MpTimeDelivery\Controller\Account\Save">
        <plugin name="plugin_order_count" type="Mpx\TimeDelivery\Plugin\Account\Save" sortOrder="1" disabled="false"/>
    </type>
    <type name="XShoppingSt\MpTimeDelivery\Model\ResourceModel\TimeSlotOrder\Collection">
        <plugin name="plugin_add_filter_to_map_created_at" type="Mpx\TimeDelivery\Plugin\Model\ResourceModel\TimeSlotOrder\Collection" sortOrder="1" disabled="false"/>
    </type>
    <type name="XShoppingSt\MpTimeDelivery\Model\TimeSlotConfigProvider">
        <plugin name="plugin_add_shop_title_to_seller" type="Mpx\TimeDelivery\Plugin\TimeSlotConfigProvider" sortOrder="1" disabled="false"/>
    </type>
    <preference for="XShoppingSt\MpTimeDelivery\Block\Options\Option" type="Mpx\TimeDelivery\Block\Options\Option" />
    <preference for="XShoppingSt\MpTimeDelivery\Model\Seller\OrderConfigProviders" type="Mpx\TimeDelivery\Model\Seller\OrderConfigProviders" />
    <type name="XShoppingSt\MpTimeDelivery\Block\Options\Option">
        <plugin name="after_get_current_customer_id" type="Mpx\TimeDelivery\Plugin\Options\Option" sortOrder="1" disabled="false"/>
    </type>
    <preference for="XShoppingSt\MpTimeDelivery\Block\Configuration" type="Mpx\TimeDelivery\Block\Configuration" />
    <preference for="XShoppingSt\MpTimeDelivery\Controller\Account\Save" type="Mpx\TimeDelivery\Controller\Account\Save" />
</config>
